@charset "utf-8";
/* CSS Document */
html, body {
	background-color: #fff;
	width: 100%;
	height:100%;
	padding: 0px;
	margin: 0px;
	/*height: 100%;*/
	font-family: "微软雅黑", Arial, sans-serif, "Helvetica Neue";
	font-size: 13px;
	/*letter-spacing: 1px;
	word-spacing: 0.05em;*/
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
}
.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 0px;
}
.content{
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
	background-color: #c22013;
	background-image: url(../images/index_bg_01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	-moz-background-size: 100%;
    background-size: 100%;
	padding-top: 38%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}
/*幸運抽*/
.lottery_content{
	max-width: 500px;
	margin-left: auto;
	/* [disabled]float: left; */
	margin-right: auto;
	padding:2%;
}
.lottery_object{
	width: 22.2%;
	margin: 0%;
	float: left;
	border: 4px solid #FFF;
	border-radius: 10px;
}
.object_name{
	opacity:0.80;
	background-color: rgba(0,0,0,0.80);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
	margin-top: -25px;
	/*margin-right:-2px;
	margin-left:2px;*/
	font-size: 11px;
	color:#FFF;
	text-align: center;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	white-space: nowrap;
	overflow: hidden;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
.object_name {
	background-color: #000;
	filter: Alpha(opacity=80);
	position: static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
}}
.lottery_object img{
	width: 100%;
}
#lottery .active{
	opacity: 0.50;
	border: 4px solid #F30;
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
#lottery .active{
	filter: Alpha(opacity=50);
	position: static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
}
}
.pointer {
	width: 56%;
	/* [disabled]height: 280px; */
	max-width:280px;
	position: relative;
	margin-left: 21%;
	margin-top: -77%;
	z-index: 8;
	cursor: pointer;
	float: left;
}
.lottery_list{
	max-width: 500px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}
.lottery_list li{
	margin-top:10px;
}
.abgne-news-scroll {
	/* [disabled]width: 185px; */
	height: 60px;
	overflow: hidden;
	/* [disabled]position: relative; */
}
